@model lr5.ViewModels.OrderDetailViewModel

<form action="/Product/OrderConfirmation" method="post">
    @for (var i = 0; i < Model.Quantity; i++)
    {
        <div>
            <label for="Products_@(i)__Name">Product Name</label>
            <input type="text" name="Products[@i].Name" id="Products_@(i)__Name" value="@Model.Products[i].Name" />
        </div>
        <div>
            <label for="Products_@(i)__Price">Price</label>
            <input type="text" name="Products[@i].Price" id="Products_@(i)__Price" value="@Model.Products[i].Price" />
        </div>
    }
    <button type="submit" class="btn btn-primary">Confirm Order</button>
</form>
