@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Завантаження файлу</title>
</head>
<body>
<form method="post">
    <div>
        <label>Ім'я:</label>
        <input type="text" name="firstName" required />
    </div>
    <div>
        <label>Прізвище:</label>
        <input type="text" name="lastName" required />
    </div>
    <div>
        <label>Назва файлу:</label>
        <input type="text" name="fileName" />
    </div>
    <button type="submit">Продовжити</button>
</form>
</body>
</html>